.subject{
    height:200px;
    width: 320px;
    display: block;
    box-sizing: border-box;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
}

.bodi{
    background: url("https://cdn.wallpapersafari.com/70/1/lHchW2.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}


.add-box {
    position: relative;
    margin: auto;
    width: 700px;
    height: 640px;
    border-radius: 2px;
    background-color: black;
    opacity: 92%;
    box-shadow: 0 15px 25px rgba(110, 110, 110, 0.6);
    text-align: center;
  }

.left{
  margin-right: 40px;
}


.add{

    color: white;
    padding-bottom: 20px;
}




.add-box input[type="text"],
.add-box input[type="number"], 
.add-box textarea[type="text"] {


  display: block;
  width: 60%;
  margin-left: 20%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  
}

.add-box input[type="text"]:focus,
.add-box input[type="number"]:focus {
  border-bottom: 2px solid black;
  color: black;
  transition: 0.2s ease;
}

.add-box input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 38px;
  background: #ff5757;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  border-radius: 6px;
}

.add-box input[type="submit"]:hover,
.add-box input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.add-box input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}



@media only screen and (max-device-width: 480px) {
  .subject {
      height: auto;
      width: 100%;
      padding: 10px;
  }

  .bodi {
      padding: 50px;
  }

  .add-box {
      width: 100%;
      height: auto;
      padding: 20px;
  }

  .left {
      margin-right: 0;
  }

  .add-box input[type="text"],
  .add-box input[type="number"],
  .add-box textarea[type="text"] {
      width: 100%;
      margin-left: 0;
  }
}

