.section {
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
    padding: 15px 180px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;

    
}

.searchMovie{
    font-size: 17px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
    margin-left: 530px;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;


}

.container {
    background-size: auto;
}

.listP {
    position: absolute;
    top: 300px;
    padding-left: 300px;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: white;
} 

.container img {
    height: 560px;
    width: 100%;
}


.buttonbtn {
  background-color: initial;
  background-color: #ff5757;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  width: 190px;
  position: absolute;
  left: 680px;
  top: 400px;
  
}

.buttonbtn:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .buttonbtn {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

