.section {
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
    padding: 15px 180px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 50px;

    
}

.searchMovie{
    padding: 6px;
    border: none;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}