.sectionFavorite{
    padding: 15px 180px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.favTitle{
    font-family:"Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerFav {
    background-size: auto;
}

.listP1 {
    position: absolute;
    top: 300px;
    padding-left: 510px;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: white;
} 

.containerFav img {
    height: 560px;
    width: 100%;
}