.sectionFavorite{
    padding: 15px 180px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.favTitle{
    font-family:"Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerFav {
    background-size: auto;
}

.listP1 {
    position: absolute;
    top: 300px;
    padding-left: 510px;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: white;
} 

.containerFav img {
    height: 560px;
    width: 100%;
}

@media only screen and (max-device-width: 480px) {
    .sectionFavorite {
        padding: 15px 65px;
        grid-template-columns: auto;
    }

    .favTitle {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .listP1 {
        font-size: 24px;
        position: absolute;
        bottom: 10;
        padding-left: 70px;
        font-size: 20px;
    }

    .containerFav img {
        height: auto;
        width: 100%;
    }
}